.button--centered {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.button--fixed-bottom {
  position: fixed;
  bottom: -15px;
  left: 94%;
  transform: translate(-50%, -50%);
  z-index: 10;
}