
.card-3d__animation{

&-container {
    width: 100%;
    height: 300vh;
    position: relative;
    overflow: clip;
    transition: background-color 0.5s ease;

    .active-slide {
        opacity: 1;
        transition: opacity ease-in-out 0.5s;
    }

   
    .active-slide img {
        filter: blur(100px);
        background-size: cover;
        transform: scale(1.125);
        opacity: 0;
        height:100%;
        object-fit: cover;
    }


    .slider {
        transform-style: preserve-3d;
        perspective: 750px;
    }

    .slide {
        width: 45vw;
    }
}}

#slide-5 {
    position: absolute;
    top: 50%; /* valor aleatorio */
    left: 50%; /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-10000px);
    opacity: 0;
}

#slide-4 {
    position: absolute;
    top: 70%; /* valor aleatorio */
    left: 15%; /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-7700px);
    opacity: 0;
}

#slide-3 {
    position: absolute;
    top: 40%; /* valor aleatorio */
    left: 90%; /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-5400px);
    opacity: 0;
}

#slide-2 {
    position: absolute;
    top: 85%; /* valor aleatorio */
    left: 30%; /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-3100px);
    opacity: 0;
}

#slide-1 {
    position: absolute;
    top: 30%; /* valor aleatorio */
    left: 60%; /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-800px);
    opacity: 1;
}
