// Parallax portfolio hero
.container {
    .body {
        h1 {
            margin: 0px;
            margin-top: 10px;
            font-size: 15vw !important;
            line-height: 21vw;
        }
    }

    .images-1 {

        .image-container-1 {
            &:nth-of-type(1) {
                top: 25vh;
                height: 60vh;
                width: 50vh;
                z-index: 1;
            }

            &:nth-of-type(2) {
                left: 80vw;
                top: 55vh;
                height: 35vh;
                width: 30vh;
                z-index: 2;
            }

            &:nth-of-type(3) {
                left: 5vw;
                top: 48vh;
                height: 35vh;
                width: 30vh;
                z-index: 3;
            }
        }
    }

    .images-2 {

        .image-container-2 {
            &:nth-of-type(1) {
                top: 14vh;
                height: 60vh;
                width: 50vh;
                z-index: 1;
            }

            &:nth-of-type(2) {
                left: 80vw;
                top: 36vh;
                height: 35vh;
                width: 30vh;
                z-index: 2;
            }

            &:nth-of-type(3) {
                left: 5vw;
                top: 30vh;
                height: 35vh;
                width: 30vh;
                z-index: 3;
            }
        }
    }

    .images-3 {

        .image-container-3 {
            &:nth-of-type(1) {
                top: 32vh;
                left: 25vw;
                height: 38vh;
                width: 27vh;
                z-index: 1;
            }

            &:nth-of-type(2) {
                right: -5vw;
                top: 49vh;
                height: 28vh;
                width: 18vh;
                z-index: 2;
            }

            &:nth-of-type(3) {
                right: 13vw;
                top: 23vh;
                height: 30vh;
                width: 22vh;
                z-index: 3;
            }

            &:nth-of-type(4) {
                left: 50vw;
                top: 52vh;
                height: 22vh;
                width: 15vh;
                z-index: 3;

            }

            &:nth-of-type(5) {
                left: 3vw;
                top: 40vh;
                height: 28vh;
                width: 20vh;
                z-index: 3;

            }
        }
    }


}