// Parallax portfolio hero
.container-bem {
    .body {
        h1 {
            margin: 0px;
            margin-top: 10px;
            font-size: 15vw !important;
            line-height: 21vw;
        }
    }

    .images-1 {

        .image-container-1 {
            &:nth-of-type(1) {
                top: 31vh;
                height: 60vh;
                width: 50vh;
                z-index: 1;
            }

            &:nth-of-type(2) {
                left: 72vw;
                top: 55vh;
                height: 35vh;
                width: 30vh;
                z-index: 2;
            }

            &:nth-of-type(3) {
                left: 5vw;
                top: 48vh;
                height: 35vh;
                width: 30vh;
                z-index: 3;
            }

            &:nth-of-type(4) {
                top: 115vh;
                left: 45vh;
                height: 55vh;
                width: 40vh;
                z-index: 1;
            }

            &:nth-of-type(5) {
                left: 64vw;
                top: 120vh;
                height: 85vh;
                width: 60vh;
                z-index: 2;
            }

            &:nth-of-type(6) {
                left: 6vw;
                top: 174vh;
                height: 48vh;
                width: 35vh;
                z-index: 3;
            }
        }
    }



    .images-3 {

        .image-container-3 {
            &:nth-of-type(1) {
                top: 44vh;
                left: 25vw;
                height: 38vh;
                width: 27vh;
                z-index: 1;
            }

            &:nth-of-type(2) {
                right: -5vw;
                top: 61vh;
                height: 28vh;
                width: 18vh;
                z-index: 2;
            }

            &:nth-of-type(3) {
                right: 13vw;
                top: 60vh;
                height: 30vh;
                width: 22vh;
                z-index: 3;
            }

            &:nth-of-type(4) {
                left: 56vw;
                top: 60vh;
                height: 22vh;
                width: 15vh;
                z-index: 3;

            }

            &:nth-of-type(5) {
                left: 3vw;
                top: 46vh;
                height: 28vh;
                width: 20vh;
                z-index: 3;

            }
        }
    }


}