@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveText {
    0% {
        z-index: -1;
        transform: translateX(0);
    }

    100% {
        z-index: -1;
        transform: translateX(-100%);
    }
}

//TEXT APPEAR ON SCROLL ANIMATION
.word {
    position: relative;
}

.line-mask {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

// LOAD ANIMATIONS - NAVBAR AND HERO
.animated {
    animation-name: fadeInDown;
    animation-duration: 3s;
}

.text-animated {
    animation-name: fadeInUp;
    animation-duration: 1.5s;/* Adjust timing as necessary */
}

/*CONTACT BANNER IN CONTACT PAGE*/
.text-animated-contact {
    animation-name: fadeInUp;
    animation-duration: 1.5s;/* Adjust timing as necessary */

}
.text-animated-contact:hover  {
    transition: color 0.3s ease-in-out; /* Smooth transition for color change */
    // cursor: url('/cursor-1.svg'), auto !important; /* Trying SVG cursor */
}

//TEXT INFINITE BANNER
  .moving-text {
    transform: translate(-1900px, 0px);
    z-index: -1;
    width: 1900px;
    color: white;
    font-size: 90px;
    position: absolute;
    left:0;
    animation: moveText 10s;
    color: white; /* Color del texto */
    letter-spacing: 8px; /* Espacio entre letras */
  }
  