@font-face {
  font-family: 'Gunterz';
  src: url('../fonts/Gunterz-Black.ttf') format('truetype');
  font-weight: 900;
  /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src: url('../fonts/Gunterz-Bold.ttf') format('truetype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src: url('../fonts/Gunterz-Medium.ttf') format('truetype');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src: url('../fonts/Gunterz-Regular.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Gamilia';
  src: url('../fonts/Gamilia-Regular.ttf') format('truetype');
  font-weight: normal;
  /* 400 */
  font-style: normal;
}

.heading--jumbo {
  font-size: 95px;
  font-family: Gunterz;
  font-weight: 700;
}

@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/social-font/icomoon.eot?eum11x');
  src:  url('./../fonts/social-font/icomoon.eot?eum11x#iefix') format('embedded-opentype'),
    url('./../fonts/social-font/icomoon.ttf?eum11x') format('truetype'),
    url('./../fonts/social-font/icomoon.woff?eum11x') format('woff'),
    url('./../fonts/social-font/icomoon.svg?eum11x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
