// Establecer el bloque principal
.contact {
    // Modificador para el email
    &__email {
      color: $cor-primary;
      text-align: center;
    }
  
    // Elemento links dentro de contact
    &__links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 20px 5vw;
  
      // Ajustes para versión móvil
      @media (max-width: $cor-grid-breakpoints-lg) {
        flex-direction: column;
        padding: 20px; // Ajuste de padding para móvil
  
        & > .contact__link {
          margin-bottom: 10px;
        }
      }
    }
  
    &__link {
      color: $cor-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  
    &__logo-circle {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: $cor-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-repeat: no-repeat;
  
      &--linkedin { background-image: url('/social-media/linkedin.svg'); }
      &--github { background-image: url('/social-media/github.svg'); }
      &--instagram { background-image: url('/social-media/instagram.svg'); }
      &--behance { background-image: url('/social-media/behance.svg'); }
      &--mail {
        background-color: transparent;
        background-image: url('/social-media/mail.svg');
      }
    }
  }
  