// Variables de tamaño
$button-width: 200;
$button-height: 50;
$curve-offset: $button-height * 0.8; // Puedes cambiar 0.4

.animated-button {
  width: #{$button-width}px;
  height: #{$button-height}px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  border-radius: 100px;

  p {
    font-family: "gunterz", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Color original del texto */
    transition: color 0.3s ease, opacity 0.3s ease; /* Efecto de transición */
    z-index: 2; /* Asegúrate de que esté por encima del SVG */
  }

  .text-white {
    color: white; /* Color del texto al cubrirse */
    opacity: 1; /* Opción para hacer el texto invisible */
  }

  svg {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  /* Animaciones de entrada */
  .animate-in.top #path {
    animation: morph-in-top 0.2s ease-in forwards;
  }

  .animate-in.bottom #path {
    animation: morph-in-bottom 0.2s ease-in forwards;
  }

  .animate-in.left #path {
    animation: morph-in-left 0.2s ease-in forwards;
  }

  .animate-in.right #path {
    animation: morph-in-right 0.2s ease-in forwards;
  }

  /* Animaciones de salida */
  .animate-out.top #path {
    animation: morph-out-top 0.2s ease-in forwards;
  }

  .animate-out.bottom #path {
    animation: morph-out-bottom 0.2s ease-in forwards;
  }

  .animate-out.left #path {
    animation: morph-out-left 0.2s ease-in forwards;
  }

  .animate-out.right #path {
    animation: morph-out-right 0.2s ease-in forwards;
  }

  // Path base
  #path {
    fill: black;
  }

  // Animaciones morph-in (entrada)
  @keyframes morph-in-top {
    0% {
      d: path(
        "M 0 #{$button-height} V 0 Q #{$button-width / 2} 0 #{$button-width} 0 V 0 H 0 Z"
      );
    }
    100% {
      d: path(
        "M 0 #{$button-height} V #{$button-height} Q #{$button-width / 2} #{($button-height + $curve-offset)} #{$button-width} #{$button-height} V 0 H 0 Z"
      );
    }
  }

  @keyframes morph-in-bottom {
    0% {
      d: path(
        "M 0 #{$button-height} V #{$button-height} Q #{$button-width} #{($button-width * 1.5)} #{$button-width} #{($button-width * 1.5)} V #{$button-height} Q #{$button-width / 2} 0 0 #{$button-height} H 0 Z"
      );
    }
    100% {
      d: path(
        "M 0 #{$button-height} V #{$button-height} Q #{$button-width} #{($button-width * 1.5)} #{$button-width} #{($button-width * 1.5)} V 0 Q #{$button-width / 2} 0 0 0 H 0 Z"
      );
    }
  }

  @keyframes morph-in-left {
    0% {
      d: path(
        "M #{$button-width} 0 Q #{($button-width - $curve-offset)} #{($button-height / 2)} #{$button-width} #{$button-height} L #{$button-width} #{$button-height} V 0 L #{($button-width / 5)} 0 Z"
      );
    }
    100% {
      d: path(
        "M 0 0 Q 0 #{($button-height / 2)} 0 #{$button-height} L #{$button-width} #{$button-height} V 0 L #{($button-width / 5)} 0 Z"
      );
    }
  }

  @keyframes morph-in-right {
    0% {
      d: path(
        "M 0 0 Q #{$curve-offset} #{($button-height / 2)} 0 #{$button-height} L 0 #{$button-height} V 0 L #{($button-width - $curve-offset)} 0 Z"
      );
    }
    100% {
      d: path(
        "M #{$button-width} 0 Q #{$button-width} #{($button-height / 2)} #{$button-width} #{$button-height} L 0 #{$button-height} V 0 L #{($button-width - $curve-offset)} 0 Z"
      );
    }
  }

  // Animaciones morph-out (salida)
  @keyframes morph-out-top {
    0% {
      d: path(
        "M 0 #{$button-height} V #{$button-height} Q #{$button-width / 2} #{$curve-offset} #{$button-width} #{$button-height} V 0 H 0 Z"
      );
    }
    100% {
      d: path(
        "M 0 #{$button-height} V 0 Q #{$button-width / 2} 0 #{$button-width} 0 V 0 H 0 Z"
      );
    }
  }

  @keyframes morph-out-bottom {
    0% {
      d: path(
        "M 0 #{$button-height} V #{$button-height} Q #{$button-width / 2} #{$button-height} #{$button-width} #{$button-height} V 0 Q 60 0 0 0 H 0 Z"
      );
    }
    100% {
      d: path(
        "M 0 #{$button-height} V #{$button-height} Q #{$button-width / 2} #{$button-height} #{$button-width} #{$button-height} V #{$button-height} Q #{$button-width / 2} #{($button-height + 60)} 0 #{$button-height} H 0 Z"
      );
    }
  }

  @keyframes morph-out-left {
    0% {
      d: path(
        "M 0 0 Q #{$curve-offset} #{($button-height / 2)} 0 #{$button-height} L #{$button-width} #{$button-height} V 0 L #{($button-width / 5)} 0 Z"
      );
    }
    100% {
      d: path(
        "M #{$button-width} 0 Q #{$button-width} #{($button-height / 2)} #{$button-width} #{$button-height} L #{$button-width} #{$button-height} V 0 L #{($button-width / 5)} 0 Z"
      );
    }
  }

  @keyframes morph-out-right {
    0% {
      d: path(
        "M #{$button-width - $curve-offset} 0 Q #{($button-width - 2 * $curve-offset)} #{($button-height / 2)} #{$button-width - $curve-offset} #{$button-height} L 0 #{$button-height} V 0 L #{$button-width - $curve-offset} 0 Z"
      );
    }
    100% {
      d: path(
        "M 0 0 Q 0 #{($button-height / 2)} 0 #{$button-height} L 0 #{$button-height} V 0 L #{$button-width - $curve-offset} 0 Z"
      );
    }
  }
}
