.super-button-wrapper {
  display: inline-block; // Permite ajustar el tamaño según el contenido
}

.super-button {
  box-sizing: border-box;
  border: 1px solid black;
  position: relative;
  border-radius: 100px;
  padding: 15px 30px;
  font-family: "gunterz", sans-serif;
  font-size: 52px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  a {
    text-decoration: none;
  }

  &:active {
    transform: scale(0.95); // Disminución leve al hacer clic
  }

  &:focus {
    outline: 2px solid #0056b3; // Indicador de enfoque accesible
    outline-offset: 2px;
  }
}

.hover-element {
  position: absolute;
  pointer-events: none;
  pointer-events: none;
}

.animate-in {
  transition: all 0.3s ease-in;
}

.animate-out {
  transition: all 0.3s ease-out;
}
