.padding {

    // General padding
    @each $i, $value in (0: 0rem, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) {
        &--#{$i} {
            padding: $value;
        }
    }

    // Padding horizontal (left + right)
    @each $i, $value in (0: 0rem, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) {
        &--x-#{$i} {
            padding-left: $value;
            padding-right: $value;
        }
    }

    // Padding vertical (top + bottom)
    @each $i, $value in (0: 0rem, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) {
        &--y-#{$i} {
            padding-top: $value;
            padding-bottom: $value;
        }
    }

    // Padding individual (top, right, bottom, left)
    @each $i, $value in (0: 0rem, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) {
        &--top-#{$i} {
            padding-top: $value;
        }

        &--right-#{$i} {
            padding-right: $value;
        }

        &--bottom-#{$i} {
            padding-bottom: $value;
        }

        &--left-#{$i} {
            padding-left: $value;
        }
    }
}
.margin {

    // General margin
    @each $i, $value in (0: 0rem, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) {
        &--#{$i} {
            margin: $value;
        }

        @media (min-width: 992px) { // Breakpoint lg
            &--lg-#{$i} {
                margin: $value !important; // Equivalente a "m-lg-0", "m-lg-1", etc.
            }
        }
    }

    // Margin horizontal (left + right)
    @each $i, $value in (0: 0rem, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) {
        &--x-#{$i} {
            margin-left: $value;
            margin-right: $value;
        }

        @media (min-width: 992px) {
            &--x-lg-#{$i} {
                margin-left: $value !important;
                margin-right: $value !important; // Equivalente a "mx-lg-0", "mx-lg-1", etc.
            }
        }
    }

    // Margin vertical (top + bottom)
    @each $i, $value in (0: 0rem, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) {
        &--y-#{$i} {
            margin-top: $value;
            margin-bottom: $value;
        }

        @media (min-width: 992px) {
            &--y-lg-#{$i} {
                margin-top: $value !important;
                margin-bottom: $value !important; // Equivalente a "my-lg-0", "my-lg-1", etc.
            }
        }
    }

    // Margin individual (top, right, bottom, left)
    @each $i, $value in (0: 0rem, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) {
        &--top-#{$i} {
            margin-top: $value;
        }

        @media (min-width: 992px) {
            &--top-lg-#{$i} {
                margin-top: $value !important; // Equivalente a "mt-lg-0", "mt-lg-1", etc.
            }
        }

        &--right-#{$i} {
            margin-right: $value;
        }

        @media (min-width: 992px) {
            &--right-lg-#{$i} {
                margin-right: $value !important; // Equivalente a "mr-lg-0", "mr-lg-1", etc.
            }
        }

        &--bottom-#{$i} {
            margin-bottom: $value;
        }

        @media (min-width: 992px) {
            &--bottom-lg-#{$i} {
                margin-bottom: $value !important; // Equivalente a "mb-lg-0", "mb-lg-1", etc.
            }
        }

        &--left-#{$i} {
            margin-left: $value;
        }

        @media (min-width: 992px) {
            &--left-lg-#{$i} {
                margin-left: $value !important; // Equivalente a "ml-lg-0", "ml-lg-1", etc.
            }
        }
    }

    &--top-auto {
        margin-top: auto;
    }

    &--right-auto {
        margin-right: auto;
    }

    &--bottom-auto {
        margin-bottom: auto;
    }

    &--left-auto {
        margin-left: auto;
    }
}


.gap {
    @each $i, $value in (1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) {
        &--#{$i} {
            gap: $value; // Equivalente a "gap-1", "gap-2", etc. en Bootstrap
        }
    }
}