/*HERO SCSS*/
.about__hero {
  &-image {
    width: 320px;
    object-fit: cover;
  }

  &-title {
    margin: 0px;
    margin-top: 10px;
    opacity: 1;
    width: 100vw;
    color: var(--cor-primary);
    text-transform: uppercase;

    &-loader {
      opacity: 0;
    }
  }
}

/*MARQUEE SCSS*/
.about__marquee {
  &-part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 4px;
    font-size: 210px;
    font-family: gunterz;
    line-height: 210px;
    font-weight: 600;
    justify-content: center;
    color: var(--cor-primary);
  }

  &-char {
    transition: transform 0.4s cubic-bezier(0.42, 3, 0.58, 1), color 2.5s ease;

    &:hover {
      color: var(--cor-secondary);
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

/*TEXT ABOUT SCSS*/
.about__text-content {
  font-size: 1rem;
  font-family: gunterz;
  line-height: 2.813rem;
  padding-left: 50px;
  padding-right: 50px;

  &-span {
    display: inline-block;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    color: var(--cor-secondary);
    font-family: gamilia;
    font-style: italic;
    font-size: 1rem * toRem(18);
    line-height: 41px;
  }
}

.about__text-gallery {
  pointer-events: none;

  &--hover {
    position: absolute;
    height: 100vh;
  }

  &-item {
    position: absolute;
    width: 120px;
    height: 120px;
    opacity: 0;

    img {
      width: 100%;
      height: auto;
      display: block;
      z-index: 10;
    }
  }
}

/*CLIP PATH SCSS*/
.favorites-about {

  &__text {
    position: relative;
    text-align: center;

    &-gamilia {
      font-size: 6rem;
      line-height: 80px;
      font-style: italic;
      font-weight: 400;
    }

    &-list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      padding: 0;
      list-style: none;
      opacity: 0;

      &-item {
        transition: transform 0.5s ease;
      }
    }
  }

  &__clip-path {
    position: sticky;
    height: 600px;
    width: 500px;
  }

  &__clip-path-item {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;

    &-image {
      height: 100%;
      width: 100%;
    }
  }


}