/*HERO SCSS*/
.about__hero {
  &-image {
    height: 380px;
    width: 320px;
    object-fit: cover;
  }

  &-title {
    margin: 0px;
    margin-top: 10px;
    width: 100vw;
    color: var(--cor-primary);
    text-transform: uppercase;
  }
}

/*MARQUEE SCSS*/
.about__marquee {
  &-part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 4px;
    font-size: 210px;
    font-family: gunterz;
    line-height: 210px;
    font-weight: 600;
    justify-content: center;
    color: var(--cor-primary);
  }

  &-char {
    transition: transform 0.4s cubic-bezier(0.42, 3, 0.58, 1), color 2.5s ease;

    &:hover {
      color: var(--cor-secondary);
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

/*TEXT ABOUT SCSS*/
.about__text-content {
  font-size: 1rem;
  font-family: gunterz;
  line-height: 2.813rem;
  padding-left: 50px;
  padding-right: 50px;

  &-span {
    display: inline-block;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    color: var(--cor-secondary);
    font-family: gamilia;
    font-style: italic;
    font-size: 1rem * toRem(18);
    line-height: 41px;
  }
}

.about__text-gallery {
  pointer-events: none;

  &--hover {
    position: absolute;
    height: 100vh;
  }

  &-item {
    position: absolute;
    width: 120px;
    height: 120px;
    opacity: 0;

    img {
      width: 100%;
      height: auto;
      display: block;
      z-index: 10;
    }


  }
}

/*CLIP PATH SCSS*/
.about__work-flex-item{
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
 
  &-image{
    height: 100%;
    width: 100%;
  }
}

