.contact {

  // Modificador para el email
  &__email {
    color: var(--cor-primary);
    text-align: center;
  }

  // Elemento links dentro de contact
  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 5vw;
    text-decoration: none;

    // Ajustes para versión móvil
    @media (max-width: $cor-grid-breakpoints-lg) {
      flex-direction: column;
      padding: 20px; // Ajuste de padding para móvil

      &>.contact__link {
        margin-bottom: 10px;

      }
    }
  }

  &__link {
    color: var(--cor-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
  }

  &__logo-circle {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: var(--cor-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;

    &.icon-linkedin:before {
      content: "\e903";
      color: var(--cor-secondary);
    }

    &.icon-github:before {
      content: "\e901";
      color: var(--cor-secondary);
    }

    &.icon-instagram:before {
      content: "\e902";
      color: var(--cor-secondary);
    }

    &.icon-behance:before {
      content: "\e900";
      color: var(--cor-secondary);
    }
    &.icon-mail {
      background: transparent;
    }
    &.icon-mail:before {
      content: "\e904";
      color: #da6a2d;
    }

  }

  /*FORM*/
  &__form-container {
    padding: 8.5rem 63px 4rem 63px;
    background-color: var(--cor-light);
    height: 100vh;
  }

  &__form-flex--column {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
  }
}