.contact {

  &__intro-mbl {
    z-index: 2;
  }

  &__text-mbl {
    @include media-breakpoint-down(md) {
      line-height: 21px;
    }
  }

  &__title-mbl {
    @include media-breakpoint-down(md) {
      font-size: 3.49rem;
    }
  }

  &__title-mbl span {
    transition: color 0.2s ease-in-out;
  }

  &__logo-mbl {
    @include media-breakpoint-down(md) {
      margin-top: -100px;
    }
  }

  // Modificador para el email
  &__email {
    color: var(--cor-primary);
    text-align: center;
  }

  // Elemento links dentro de contact
  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 5vw;
    text-decoration: none;

    @include media-breakpoint-down(md){
      flex-direction: column;
      padding: 30px 0px 60px;
      align-items: flex-start;
    }
  }

  &__link {
    color: var(--cor-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;

    @include media-breakpoint-down(md){
      align-items: baseline;
      justify-content:flex-start;

    }
  }

  &__logo-circle {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: var(--cor-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;

    &.icon-linkedin:before {
      content: "\e904";
      color: var(--cor-secondary);
    }

    &.icon-github:before {
      content: "\e902";
      color: var(--cor-secondary);
    }

    &.icon-instagram:before {
      content: "\e903";
      color: var(--cor-secondary);
    }

    &.icon-behance:before {
      content: "\e901";
      color: var(--cor-secondary);
    }

    &.icon-arrow {
      width: auto; // Elimina el ancho fijo si no necesitas un círculo
      height: auto; // Elimina la altura fija si no necesitas un círculo
      border-radius: 0; // Elimina la forma circular
      background-color: transparent; // Fondo transparente
      display: flex; // Asegúrate de que los elementos internos estén alineados correctamente
      justify-content: center;
      align-items: center;

      &:before {
        content: "\e900"; // Icono de flecha
        color: var(--cor-primary); // Define el color del icono
        background-color: transparent; // Fondo del pseudo-elemento transparente
        font-size: inherit; // Asegúrate de que la fuente sea consistente
      }
    }


    &.icon-mail {
      background: transparent;
    }

    &.icon-mail:before {
      content: "\e905";
      color: #da6a2d;
    }

  }

  /*FORM*/
  &__form-container {
    padding: 8.5rem 63px 4rem 63px;
    background-color: var(--cor-light);
    height: 100vh;

    @include media-breakpoint-down(md) {
      height: 100%;
    }
  }

  &__form-flex--column {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
  }

  &__form-svg-animation {
    height: 600px;
    position: relative;
    width: 100%;
    border: 3px var(--cor-primary) solid;
    border-radius: 80px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__form-input-data {
    height: 30px;
    width: 100%;
    position: relative;

    input {
      height: 100%;
      width: 100%;
      border: none;
      font-family: 'gunterz';
      padding: 0;
      border-bottom: 2px solid var(--cor-primary);
      background-color: transparent;
      outline: none; // Quita el recuadro de focus

      &:focus+label,
      &:not(:placeholder-shown)+label {
        bottom: 35px;
        color: var(--cor-primary);
      }
    }

    label {
      position: absolute;
      bottom: 5px;
      left: 0;
      pointer-events: none;
      transition: bottom 0.3s ease, color 0.3s ease;
      color: var(--cor-primary);
      font-family: 'gamilia';
      text-transform: uppercase;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }

    &-area {
      position: relative;

      label {
        position: absolute;
        bottom: 55px;
        left: 0;
        pointer-events: none;
        transition: bottom 0.3s ease, color 0.3s ease;
        color: var(--cor-primary);
        font-family: 'gamilia';
        text-transform: uppercase;
      }

      textarea#message {
        border: none;
        border-bottom: 2px solid var(--cor-primary) !important;
        resize: none;
        width: 100% !important;
        height: 100px;
        line-height: 1.5;
        padding: 5px 0;
        font-size: 16px;
        background: transparent;
        outline: none;
        overflow: hidden;
      }

      textarea#message:focus {
        border-bottom: 2px solid var(--cor-primary);
      }

      textarea#message::placeholder {
        color: transparent;
      }

      textarea#message:focus+label,
      textarea#message:not(:placeholder-shown)+label {
        bottom: 110px;
        /* Adjust based on textarea height */
        color: var(--cor-primary);
      }
    }

  }
}