.editorials_ {
    &_hero {
        &-title {
            margin: 0px;
            margin-top: 10px;
            font-size: 15vw !important;
            line-height: 21vw;
        }
        &-images {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: center;

            &-parallax {
                position: absolute;

                &:nth-of-type(1) {
                    top: 32vh;
                    left: 25vw;
                    height: 38vh;
                    width: 27vh;
                    z-index: 1;

                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    right: -2vw;
                    top: 61vh;
                    height: 28vh;
                    width: 35vh;
                    z-index: 2;

                    @include media-breakpoint-down(md) {
                        right: -8vw;
                        top: 89vh;
                        height: 24vh;
                        width: 41vh;
                    }
                }

                &:nth-of-type(3) {
                    right: 20vw;
                    top: 50vh;
                    height: 30vh;
                    width: 22vh;
                    z-index: 3;

                    @include media-breakpoint-down(md) {
                        right: 13vw;
                        top: 40vh;
                        height: 31vh;
                        width: 24vh;
                    }
                }

                &:nth-of-type(4) {
                    left: 47vw;
                    top: 52vh;
                    height: 22vh;
                    width: 15vh;
                    z-index: 3;

                    @include media-breakpoint-down(md) {
                        // left: 49vw;
                        top: 58vh;
                        height: 33vh;
                        width: 27vh;
                        z-index: 1;
                    }

                }

                &:nth-of-type(5) {
                    left: 3vw;
                    top: 40vh;
                    height: 28vh;
                    width: 20vh;
                    z-index: 3;

                    @include media-breakpoint-down(md) {
                        left: 7vw;
                        height: 23vh;
                        width: 15vh;
                    }

                }

                &-loader {
                    opacity: 0;
                }
            }
        }
    }

    &_cards-slide {
        height: 600px;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.pdf-flipbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .pdf-canvas {
        margin: 1rem 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transform-origin: center center;
        transition: transform 0.3s;
    }

    .pdf-canvas:hover {
        transform: scale(1.05);
    }
}
