.editorials-detail {
  &__hero--title {
    width: fit-content;
    margin: auto;
    margin-top: 1.25rem;

    &-h2 {
      font-size: 1rem;
      font-family: "gunterz";
      text-transform: uppercase;

      @include media-breakpoint-down (md) {
        font-size: 0.5rem;
      }
    }
  }

  &__hero--text {
    width: 45vw;
    margin: auto;
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.3rem;
    padding: 1rem;

    @include media-breakpoint-down (md) {
      width: 100vw;
    }
  }
}

.editorials-detail__first-section__container {
  &__text {
    h2 {
      margin-bottom: 75px;
    }
  }
}

.editorials-detail__first-section__thumbnails {
  height: 350px;

  &__images {
    img {
      max-width: 48%;
    }
  }
}

.editorials-detail__sub-section {

  &__container {
    margin-top: 70px;

    &__mixed {

      &__image,
      &__text {
        flex: 1;
        max-height: 50%;
      }

      &__text {
        max-width: 100%;

        & p {
          flex: 1;
          max-width: 50%;
        }
      }

      &__image {
        @include media-breakpoint-down(md) {
          display: none;
        }

        & img {
          max-width: 50%;
          height: auto;
        }
      }
    }
  }
}

.editorials-detail__end-section__container {
  & img {
    width: 35%;
    height: 70%;
    object-fit: cover;
  }
}

.editorials-detail__first-section__long-image {
  margin-top: 8rem;
}

.editorials-detail__long-image-paragraph {
  padding: 7.5rem;
  padding-top: 0 !important;
  // margin-top: 8rem;
}


.editorials-detail__fifth-section {
  &__title {
    z-index: 2;

    &_2 {
      padding-right: 120px;
    }

    h2 {
      font-size: 100px;

      @include media-breakpoint-down(md) {
        font-size: 55px;
      }
    }
  }

  &__image {
    height: 50%;
    margin-top: -6rem;

    &_overlay {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem;
      color: white;
      font-size: 1.2rem;
      width: 22%;
      text-align: justify;
      font-family: "Darker Grotesque";

    }
  }

  &__text {
    text-indent: 2rem;
    /* Ajusta el valor según la cantidad de indentación que desees */
    text-align: justify;
  }
}

.editorials-detail__ticker {
  &-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  &-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    &--top {
      top: 110%; // Center vertically
      left: -10%; // Start slightly off-screen
      transform: rotate(5deg);
      animation-direction: normal;
    }

    &--bottom{
        top: 110%;
        right: -50%; // Start slightly off-screen
        transform: rotate(-5deg) ;
        animation-direction: reverse;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    animation: move-rtl 6000ms linear infinite;
    animation-play-state: running;
    transition: color 0.3s ease;

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow: visible;
    }
  }
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}