.home__swiper-animation {

    &-button--centered {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        text-align: center;
        color: var(--cor-light);
        width: 100%;
    }

    &-images {
        display: flex;
        width: 100vw;
    }
}