.portfolio__hero {

    &-mobile-title {
        transform: rotate(-90deg);
        position: absolute;
        left: 0;
        top: 100%;
        transform-origin: top left;
        padding-left: 50px;
        z-index: 6;
    }

    &-title {
        margin: 0px;
        margin-top: 10px;
        font-size: 15vw !important;
        line-height: 21vw;

        @include media-breakpoint-down(md) {
            font-size: 20vw !important;
        }
    }

    &-images {

        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;

        &-parallax {
            position: absolute;
            overflow-y: clip;

            &:nth-of-type(1) {
                top: 31vh;
                height: 60vh;
                width: 50vh;
                z-index: 1;

                @include media-breakpoint-down(md) {
                    height: 40vh;
                    width: 30vh;
                }
            }

            &:nth-of-type(2) {
                left: 72vw;
                top: 55vh;
                height: 35vh;
                width: 30vh;
                z-index: 2;

                @include media-breakpoint-down(md) {
                    display: none;
                }
            }

            &:nth-of-type(3) {
                left: 5vw;
                top: 48vh;
                height: 35vh;
                width: 30vh;
                z-index: 3;

                @include media-breakpoint-down(md) {
                    left: 58vw;
                    top: 75vh;
                    height: 24vh;
                    width: 16vh;
                }
            }

            &:nth-of-type(4) {
                top: 115vh;
                left: 45vh;
                height: 55vh;
                width: 40vh;
                z-index: 1;

                @include media-breakpoint-down(md) {
                    top: 75vh;
                    left: 33vw;
                    height: 21vh;
                    width: 70vw;
                }
            }

            &:nth-of-type(5) {
                left: 64vw;
                top: 120vh;
                height: 85vh;
                width: 60vh;
                z-index: 2;

                @include media-breakpoint-down(md) {
                    height: 40vh;
                    width: 30vh;
                    display: none;
                }
            }

            &:nth-of-type(6) {
                left: 6vw;
                top: 174vh;
                height: 48vh;
                width: 35vh;
                z-index: 3;

                @include media-breakpoint-down(md) {
                    height: 30vh;
                    width: 21vh;
                    left: 7vw;
                    top: 108vh;

                }
            }

            &-loader {
                opacity: 0;
            }
        }
    }
}

.parallax__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-3d__animation {

    &-container {
        width: 100%;
        height: 300vh;
        position: relative;
        transition: background-color 0.5s ease;
    }

    &-slider {
        position: sticky;
        transform-style: preserve-3d;
        perspective: 750px;
        z-index: 3;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    &-slide {
        position: absolute;
        width: 45vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    &-active-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity ease-in-out 0.5s;

        &--image {
            position: absolute;
            filter: blur(100px);
            background-size: cover;
            transform: scale(1.125);
            height: 100%;
            object-fit: cover;

            &-1 {
                z-index: 2;
            }
        }

    }
}


#slide-5 {
    position: absolute;
    top: 50%;
    /* valor aleatorio */
    left: 50%;
    /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-10000px);
    opacity: 0;
}

#slide-4 {
    position: absolute;
    top: 70%;
    /* valor aleatorio */
    left: 15%;
    /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-7700px);
    opacity: 0;
}

#slide-3 {
    position: absolute;
    top: 40%;
    /* valor aleatorio */
    left: 90%;
    /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-5400px);
    opacity: 0;
}

#slide-2 {
    position: absolute;
    top: 85%;
    /* valor aleatorio */
    left: 30%;
    /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-3100px);
    opacity: 0;
}

#slide-1 {
    position: absolute;
    top: 30%;
    /* valor aleatorio */
    left: 60%;
    /* valor aleatorio */
    transform: translateX(-50%) translateY(-50%) translateZ(-800px);
    opacity: 1;
}

.mobile_ {
    &_portfolio-card-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    &_card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &_card-image-wrapper {
        width: 100%;
        height: 450px;
        overflow: hidden;
    }

    &_card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}