.footer__section {
  position: relative;
  z-index: 100000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-primary);

  &-draggable-logo {
    flex: 1;
  }

  &-draggable-title {
    font-family: "gamilia";
    font-size: 7rem;
    max-width: 70%;
    font-weight:100;
  }

  &-links {
    margin-top: auto;
  }
}

.footer__carrusel {
  &-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 120px;
    color: var(--cor-secondary);

    &:hover .footer__carrusel-item {
      animation-play-state: paused;
      color: var(--cor-light);
    }

    &:hover .footer__carrusel-item .footer__carrusel-item--logo {
      background-color: var(--cor-light);
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    animation: move-rtl 6000ms linear infinite;
    animation-play-state: running;
    transition: color 0.3s ease;

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow: visible;
      line-height: 0.9;
    }

    &--logo {
      width: 75px;
      height: 75px;
      margin: 0 2rem;
      background-color: var(--cor-secondary);
      mask-image: url("/logo-dark.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      transition: background-color 0.3s ease;
    }
  }
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


.footer__section-mobile {
  & h1 {
    & span {
      font-size: 40px;
    }
    & span:before {
      color: var(--cor-secondary) !important;
    }
  }
}