body.light-theme {
    --cor-light: #EBE6E0;
    --cor-primary: #341116;
    --cor-secondary: #DA6A2D;
    --cor-dark: #262626;
    --cor-cursor-mix: color-burn;
}

body.dark-theme {
    --cor-light: #131313;
    --cor-primary: #DA6A2D;
    --cor-secondary: #EBCC7D;
    --cor-dark: #EBE6E0;
    --cor-cursor-mix: difference;
}

body.green-theme {
    --cor-light: #2F4F4F;
    --cor-primary: #A1C3AE;
    --cor-secondary: #349079;
    --cor-dark: #EBE6E0;
    --cor-cursor-mix: difference;
}

body.purple-theme {
    --cor-light: #301A4B;
    --cor-primary: #FFEAEC;
    --cor-secondary: #D462DD;
    --cor-dark: #EBE6E0;
    --cor-cursor-mix: difference;
}

// FONTS
@import "base/fonts";

// Abstracts
@import "abstracts/functions";

// Define una clase de tema que condicionalmente importará los estilos correctos

@import "abstracts/variables";
@import "abstracts/mixins";

// Base
@import 'base/general';
@import 'base/text';

// Layout
@import "layout/spacing-dimension";
@import "layout/container";
@import "layout/flex";
@import "layout/cursor";

// Pages
@import "pages/footer/footer";
@import "pages/nav/navbar";
@import "pages/contact-page";
@import "pages/about-page";
@import "pages/editorials-page";
@import "pages/portfolio-page";
@import "pages/home-page";
@import "pages/portfolio-detail";
@import "pages/editorials-detail";
@import "pages/game-page";